<form class="form-style-9 ">
    <ul>
        <li>
            N° client:
            <input type="text" name="id" class="field-style field-full align-none " [(ngModel)]="clientInfo.id" placeholder="N° client"></li>

        <li>
            Nom:
            <input type="text" name="clientName" class="field-style field-full align-none " [(ngModel)]="clientInfo.clientName" placeholder="Nom"></li>
        <li>Rue:
            <input type="text" name="clientStreetName" class="field-style field-full align-none " [(ngModel)]="clientInfo.clientStreetName" placeholder="Rue"></li>
        <li>N°
            <input type="text" name="clientHouseNumber" class="field-style field-full align-none " [(ngModel)]="clientInfo.clientHouseNumber" placeholder="N°"></li>
        <li>Code Postal:
            <input type="text" name="clientPostalCode" class="field-style field-full align-none " [(ngModel)]="clientInfo.clientPostalCode" placeholder="Code postal"></li>
        <li>Commune
            <input type="text" name="clientCity" class="field-style field-full align-none " [(ngModel)]="clientInfo.clientCity" placeholder="Commune"></li>
        <li>
            TVA:
            <input type="text" name="tvaClient" class="field-style field-full align-none " [(ngModel)]="clientInfo.tvaClient" placeholder="TVA"></li>

    </ul>
</form>