<form class="form-style-9 " style="float:right">

    <ul>
        <li>
            N° client:
            <input type="text" name="id" class="field-style field-full align-none " [(ngModel)]="selectedClient.clientNumber" placeholder="N° client" #newClientNumber></li>

        <li>
            Nom:
            <input type="text" name="clientName" class="field-style field-full align-none " [(ngModel)]="selectedClient.clientName" placeholder="Nom" #newClientName></li>
        <li>Rue:
            <input type="text" name="clientStreetName" class="field-style field-full align-none " [(ngModel)]="selectedClient.clientStreetName" placeholder="Rue" #newClientStreetName></li>
        <li>N°
            <input type="text" name="clientHouseNumber" class="field-style field-full align-none " [(ngModel)]="selectedClient.clientHouseNumber" placeholder="N°" #newClientHouseNumber></li>
        <li>Code Postal:
            <input type="text" name="clientPostalCode" class="field-style field-full align-none " [(ngModel)]="selectedClient.clientPostalCode" placeholder="Code postal" #newClientPostalCode></li>
        <li>Commune
            <input type="text" name="clientCity" class="field-style field-full align-none " [(ngModel)]="selectedClient.clientCity" placeholder="Commune" #newClientCity></li>
        <li>
            TVA:
            <input type="text" name="tvaClient" class="field-style field-full align-none " [(ngModel)]="selectedClient.tvaClient" placeholder="TVA" #newTvaClient></li>

    </ul>


    <input type="submit" (click)="addClient(
        newClientNumber.value,
        newClientName.value, 
        newClientStreetName.value, 
        newClientHouseNumber.value,
        newClientPostalCode.value,
        newClientCity.value,
        newTvaClient.value)
        " value="Sauvgarder">

    <input type="submit" (click)="updateClient(
        newClientNumber.value,
        newClientName.value, 
        newClientStreetName.value, 
        newClientHouseNumber.value,
        newClientPostalCode.value,
        newClientCity.value,
        newTvaClient.value)
        " value="Modifier">


</form>

<div class="form-style-9 " style="float: left">
    <input [(ngModel)]="query" placeholder="Search">
    <ul class="clientInfoList" *ngFor="let clientInfos of clientInfo | searchPipe: query | slice:0:19">
        <li (click)="selectClient(clientInfos)">{{clientInfos.ClientNumber}} {{clientInfos.ClientName}}
            <button (click)="delete(clientInfos)" style="float : right">Suprimer</button></li>


    </ul>

</div>